body{
	background-color: #eaeaea;
}

.side-nav{
	background-color: black;
	opacity: 0.8;
	color: #ffffff;
	min-height: 100vh;
}

.side-nav a{
	color: #fff;
}

.side-menu{
	list-style: none;
	padding: 0;
}

.side-menu li{
	
	margin-bottom: : 5px;
}

.side-menu li:hover, .side-menu li:focus{
	background-color: orange;
}

.side-menu .active{
	background-color: darkorange;
}

.side-nav a{
	padding: 5px 10px;
	display: inline-block;
}

.side-menu a:hover, .side-menu a:focus{
	text-decoration: none;	
}

.delete {
	color: #f54899;
}

.delete:hover, .delete:focus {
	color: #dc3545;;
}

h1{
		color:darkorange;
	}
	.but{
		background-color:darkorange;
	}
	.bod{
		background-image: url("../images/4.jpg");
		background-repeat: no-repeat;
/*		background-size: cover;
*/		background-attachment: fixed;
		background-size: 100% 100%

