
.side-menu{
	list-style: none;
	padding: 0;
}

.side-menu li{
	
	margin-bottom: : 5px;
}

.side-menu li:hover, .side-menu li:focus{
	background-color: orange;
}

.side-menu .active{
	background-color: darkorange;
}

.side-menu a:hover, .side-menu a:focus{
	text-decoration: none;	
}

.delete {
	color: #f54899;
}

.delete:hover, .delete:focus {
	color: #dc3545;;
}
.wid{
	width: 50%;
}

/*login and signup page ko button*/
.but{
		background-color:darkorange;
	}
*{
	margin:0;
	padding: 0;
}
body{
	background-color: #eaeaea;
}
a{
	padding-right: 10px;
	color:black;
}
a:hover{
	text-decoration: none;
}
th, h4, h1{
	color:darkorange;
}
label, h2{
	color: black;
}

/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}





