
.rating-review{
	height:100%;
	width: 85%;
	margin: 80px auto;
	background-color: #fefefe;
}

.rating-review table{
	width: 10%;
	margin: 0;
	border-collapse: collapse;
	color: #8f8f8f;
	margin-bottom: .625rem;
}

.rating-review table,
.rating-review td {
	font-size: .8125rem;
	text-align: center;
}

.rating-review td{
	padding: 2rem;

}

.tri{
	border-bottom: 1px solid #e2e2e2;
	padding: 12px;
}

.rnb h3	{
	color: orange;
	font-size: 2.4rem;
}

.tri .pdt-rate{
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.rating-star {
	position: relative;
	vertical-align: baseline;
	color: #b9b9b9;
	line-height: 10px;
	float: left;
}

.grey-star{
	height: 100%;
}

.filled-star {
	position: absolute;
	left: 1px;
	top: 2px;
	height: 100px;
	overflow: hidden;
	color: orange;
 }

 .filled-star::before,
 .grey-star::before {
 	content: "\2605\2605\2605\2605\2605";
 	font-size: 19px;
 	line-height: 18px;
 	letter-spacing: 0;
 }

 .tri filled-star::before,
 .tri .grey-star::before{
 	font-size: 20px;
 	line-height: 23px;
 }

 .rnrn{
 	width: 100%;
 	font-weight: 700;
 	font-size: 1rem;
 }

 

 .rpb{
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .rnpb{
 	display: flex;
 	width: 100%;
 }

 .rnpb label:first-child{
 	margin-right: 5px;
 	margin-top: -2px;
 }

 .rnpb label:last-child{
 	margin-left: 3px;
 	margin-top: -2px;
 }

 .rnpb label i {
 	color: orange;
 }

 .ropb{
 	height: 10px;
 	width: 75%;
 	background-color: #f1f1f1;
 	position: relative;
 	margin-bottom: 10px;
 }

.ripb{
	height: 100%;
	background-color: orange;
	border: 1px solid #a0a0a0;
}

/*33 minutes mapugeako*/